.navItem{
  display: block;
  float: left;
  padding: 15px;
  color: red;
  font-family: 'Poppins', sans-serif;
}
li a:hover {
  opacity: 1;
  color: darkred;
  cursor: pointer;
}

li a{
  text-decoration: none;
  color:red;
}
#navbar{
  height: 55px;
  background-color: black;
  font-size: 18px;
  text-align: center;
  opacity: 0.9;
}